<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PVE</title>
    <link href="/resources/ActivityGraphics.css" rel="stylesheet"/>
    <link href="/resources/style.css" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <div th:insert="fragments/structure.html :: siteForm(~{::#content})">
        <div id="content">
            <div id="box">


                <section class="combatant">

                    <h2 th:text="${enemy1.getCharacterName()}"></h2>
                    <img th:src="${enemy1.getPicture()}" alt="">
                    <div th:insert="fragments/character-card.html :: combatStatistics(${enemy1})"></div>
                    </i><a th:href="'/activity/pve/log?id=' + ${enemy1.getId()}" class="button"> Choose</a>
                </section>


                <section class="combatant">

                    <h2 th:text="${enemy2.getCharacterName()}"></h2>
                    <img th:src="${enemy2.getPicture()}" alt="">
                    <div th:insert="fragments/character-card.html :: combatStatistics(${enemy2})"></div>
                    </i><a th:href="'/activity/pve/log?id=' + ${enemy2.getId()}" class="button"> Choose</a>
                </section>

                <section class="combatant">

                    <h2 th:text="${enemy3.getCharacterName()}"></h2>
                    <img th:src="${enemy3.getPicture()}" alt="">
                    <div th:insert="fragments/character-card.html :: combatStatistics(${enemy3})"></div>
                    </i><a th:href="'/activity/pve/log?id=' + ${enemy3.getId()}" class="button"> Choose</a>
                </section>


            </div>
        </div>
    </div>
</div>
</body>
</html>