<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work</title>
    <link href="/resources/ActivityGraphics.css" rel="stylesheet"/>
    <link href="/resources/style.css" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <div th:insert="/fragments/structure.html :: siteForm(~{::#content})">
        <div id="content">
            <div id="box">
                <section class="combatant">
                    <div th:insert="/fragments/character-card.html :: portrait(${portraitHero}, ${hero})"></div>
                    <h2 th:text="${hero.getCharacterName()}"></h2>
                    <div th:insert="/fragments/character-card.html :: combatStatistics(${hero})"></div>

                </section>
                <section class="combatant">
                    <h2> HUNT IN PROGRESS</h2>
                    <h4 th:text="${minutes + ' minute(s) remaining'}"></h4>

                    <a th:text="${faction == 'Raider'}? 'Go Raiding' : 'Collect Bounty'"
                       th:href="'/activity/pvp/log'" class="button"></a>
                </section>

                <div th:if="${noEnemy == 0}">
                    <section class="combatant">
                        <h2 th:text="${enemy.getCharacterName()}"></h2>
                        <div th:insert="/fragments/character-card.html :: combatStatistics(${enemy})"></div>

                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>