<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PVP</title>
    <link href="/resources/ActivityGraphics.css" rel="stylesheet"/>
    <link href="/resources/style.css" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <div th:insert="fragments/structure.html :: siteForm(~{::#content})">

        <div id="content">

            <div id="box">

                <section class="combatant">
                    <div th:insert="fragments/character-card.html :: portrait(${portraitEnemy1}, ${enemy1})"></div>
                    <h2 th:text="${enemy1.getCharacterName()}"></h2>
                    <div th:insert="fragments/character-card.html :: combatStatistics(${enemy2})"></div>
                    </i><a th:href="'/activity/pvp/log?id=' + ${enemy1.getId()}" class="button"> Choose</a>
                </section>



                <section class="combatant">
                    <div th:insert="fragments/character-card.html :: portrait(${portraitEnemy2}, ${enemy2})"></div>
                    <h2 th:text="${enemy2.getCharacterName()}"></h2>
                    <div th:insert="fragments/character-card.html :: combatStatistics(${enemy2})"></div>
                    </i><a th:href="'/activity/pvp/log?id=' + ${enemy2.getId()}" class="button"> Choose</a>
                </section>

                <section class="combatant">
                    <div th:insert="fragments/character-card.html :: portrait(${portraitEnemy3}, ${enemy3})"></div>
                    <h2 th:text="${enemy3.getCharacterName()}"></h2>
                    <div th:insert="fragments/character-card.html :: combatStatistics(${enemy3})"></div>
                    </i><a th:href="'/activity/pvp/log?id=' + ${enemy3.getId()}" class="button"> Choose</a>
                </section>


            </div>

        </div>

    </div>


</div>


</body>
</html>