<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/resources/Graphics.css" rel="stylesheet"/>
</head>
<body>
<div th:fragment="Banner">
    <div id="header">
        <div id="bannerImage">
            <img src="/resources/header.png" alt="Banner Image" width="1100px" height="200px">
        </div>
        <h1>WASTELAND</h1>
    </div>
</div>


<div th:fragment="Navigation" class="SideContent">
    <div id="menuButtons">
        <button type="button" onclick="window.location.href='/character/me';">OVERVIEW</button>
        <button type="button" onclick="window.location.href='/shop';">SHOP</button>
        <button type="button" onclick="window.location.href='/activity/pvp/log';" th:text="${faction == 'Raider'}? 'RAIDING' : 'PURSUIT'"></button>
        <button type="button">HUNT</button>
        <button type="button" onclick="window.location.href='/activity/work';">WORK</button>
        <button type="button" onclick="window.location.href='/logout';">LOG OUT</button>
    </div>
</div>


<div th:fragment="siteForm(content)">

    <div th:replace="/fragments/structure :: Banner"></div>
    <div id="container">
        <div id="body">
            <div th:replace="/fragments/structure :: Navigation"></div>

            <div class="MainContent">

                <div th:replace="${content}"></div>


            </div>

        </div>
    </div>
</div>

<div th:fragment="siteForm2(content)">

    <div th:replace="/fragments/structure :: Banner"></div>
    <div id="container2">


        <div class="MainContent">

            <div th:replace="${content}"></div>


        </div>

    </div>

</div>


</body>
</html>