<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
</head>
<body>

<section id = "Content">

    <section id = "Banner"></section>
    <div id="links"><a href="only-available">Bounty/Raid</a><a href="cheapest">Hunt</a><a href="isNike">Work/Scavange</a>
        <hr>
        <a href="averangeStock">Character</a><a href="mostExpensive">Farm/Camp</a></div>
    <section id = "Insides">



    </section>



</section>


</body>
</html>