<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/Graphics.css" rel="stylesheet"/>
</head>
<body>
<div id="container">
<!--    <div id="header">
        <div id="bannerImage">
            <img src="/static/header.png" alt="Banner Image" width="1100px" height="200px">
        </div>
        <h1>WASTELAND</h1>
    </div>-->
    <div th:insert="/fragments/structure.html :: siteForm(~{::#content})">
        <div id="content">
            Zkouška sirén
        </div>
    </div>
</div>
</body>
</html>