<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/resources/Graphics.css" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <div th:insert="/fragments/structure.html :: siteForm2(~{::#content})">
        <div id="content">
            <form id="characterSheet">
                <div>
                    <h3> Name</h3>
                    <input type="text" id="nick" name="characterName"
                           placeholder="Choose your name" required minlength="3" maxlength="20">

                    <h3> Faction</h3>
                    <input type="radio" id="settler" name="faction" value="Settler">
                    <label for="settler">Settler</label><br>

                    <input type="radio" id="raider" name="faction" value="Raider">
                    <label for="raider">Raider</label><br>

                    <h3> Statistics</h3>

                    remaining points:
                    <output id="points">---</output>
                    <br/>
                    <input class="abilityBuy" type=number oninput="recalculate();" min="10" value="10" max="50" id="atk"
                           name="atk"/>Attack<br/>
                    <input class="abilityBuy" type=number oninput="recalculate();" min="10" value="10" max="50" id="dmg"
                           name="dmg"/>Damage<br/>
                    <input class="abilityBuy" type=number oninput="recalculate();" min="10" value="10" max="50" id="def"
                           name="def"/>Defense<br/>
                    <input class="abilityBuy" type=number oninput="recalculate();" min="10" value="10" max="50" id="hp"
                           name="hp"/>Hit Points<br/>
                    <input class="abilityBuy" type=number oninput="recalculate();" min="10" value="10" max="50" id="lck"
                           name="lck"/>Luck<br/>

                </div>

                <section id="DressUP">

                    <section id="face">
                        <img id = "faceImg" src="/PortraitParts/Face01.png" alt="">
                        <img id = "eyeImg" src="/PortraitParts/Eye01.png" alt="">
                        <img id = "noseImg" src="/PortraitParts/Nose01.png" alt="">
                        <img id = "mouthImg" src="/PortraitParts/Mouth01.png" alt="">
                        <img id = "hairImg" src="/PortraitParts/Hair01.png" alt="">
                        <img id = "clothesImg" src="/PortraitParts/Clothes_Settler.png" alt="">
                    </section>

                </section>
                <button type="submit" form="characterSheet" formaction="/character/new/create" formmethod="get"> Send
                </button>

            </form>


            </section>
            </section>


            <script src="/PointBuy.js"></script>
        </div>
    </div>
</div>
</body>


</html>