<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link href="/resources/Graphics.css" rel="stylesheet"/>
    <link href="/resources/style.css" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <div th:insert="/fragments/structure.html :: siteForm(~{::#content})">
        <div id="content">

            <div id="box">
                <section class="combatant">
                    <div id="alignmentLeft">
                        <div th:insert="/fragments/character-card.html :: portrait(${portraitDTO}, ${DTO})"></div>
                        <br>
                        <h2 th:text="${DTO.getCharacterName()}"></h2>
                        <table>

                            <tr>
                                <td>
                                    <p> Faction</p>
                                </td>
                                <td>
                                    <p th:text="${DTO.getFaction()}"></p>
                                </td>
                            <tr>
                                <td>
                                    <p th:text="'⨁:' + ${DTO.getAtk()} + ' + ' + ${atkBonus}"></p>
                                </td>
                                <td>
                                    <p th:text="'𐃃:' + ${DTO.getDef()} + ' + ' + ${defBonus}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p th:text="'🗡:' + ${DTO.getDmg()} + ' + ' + ${dmgBonus}"></p>
                                </td>
                                <td>
                                    <p th:text="'❤:' + ${DTO.getHp()} + ' + ' + ${hpBonus}"></p>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <p>⯎</p>
                                </td>
                                <td>
                                    <p th:text="${DTO.getLck()}"></p>
                                </td>
                            </tr>

                        </table>
                        <!--<div th:insert="/fragments/character-card.html :: combatStatistics(${DTO})"></div>-->
                    </div>
                </section>
                <section class="combatant">
                    <section id="inventory">

                        <table>
                            <tr>
                                <th>Item</th>
                                <th>ATK bonus</th>
                                <th>DMG bonus</th>
                                <th>DEF bonus</th>
                                <th>HP bonus</th>
                                <th>LCK bonus</th>
                                <th>Equip?</th>

                            </tr>
                            <tr th:each="item: ${inventory}">

                                <td>
                                    <p th:text="${item.getSecond().getName()}"></p>
                                </td>
                                <td>
                                    <p th:text="${item.getSecond().getAtkBonus()}"></p>
                                </td>
                                <td>
                                    <p th:text="${item.getSecond().getDmgBonus()}"></p>
                                </td>
                                <td>
                                    <p th:text="${item.getSecond().getDefBonus()}"></p>
                                </td>
                                <td>
                                    <p th:text="${item.getSecond().getHpBonus()}"></p>
                                </td>
                                <td>
                                    <p th:text="${item.getSecond().getLckBonus()}"></p>
                                </td>
                                <td>
                                    <a th:href="'/character/me/equip?id=' + ${item.getFirst()}">(un)Equip</a>
v
                                </td>

                            </tr>
                        </table>
                    </section>
                </section>

            </div>
        </div>
    </div>
</div>


</body>
</html>